# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules
.env
.DS_Store

package-lock.json

CLIENT_ID=c71465a8d09148c39a466b60f2c8c592
CLIENT_SECRET=de6496c93e4549eda26cd43d666806b9
