{{!-- views/tracks.hbs --}}
<h1>Pistas del Álbum</h1>
<ul>
  {{#each tracks}}
    <li>
      <p>{{this.name}}</p>
      {{#if this.preview_url}}
        <audio controls>
          <source src="{{this.preview_url}}" type="audio/mpeg">
          Tu navegador no soporta el elemento de audio.
        </audio>
      {{else}}
        <p>No hay vista previa disponible</p>
      {{/if}}
    </li>
  {{/each}}
</ul>
<a href="/">Volver</a>
